.main_sidebar_wrapper {
    width: 80px;
    background: rgb(109, 90, 109);
}

.main_header_wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.main_button_wrapper {
    padding: 25px;
}

.main_button_wrapper:hover {
    background: rgb(0, 66, 70);
}

.main_side_wrap {
    display: flex;
    height: 100vh;
}

.main_pen_controls_container {
    width: 200px;
    height: 300px;
    background: white;
    padding: 20px;
    position: absolute;
    top: 15px;
    left: 110px;
}